body {
    margin: 0;
    font-family: 'Nunito', sans-serif;;
}

#main-doc {
    display: flex;
}

.nav-link {
    display: block;
    font-size: 20px;
    color: #FFE5B4;
    border: 0.5px solid #1F4690;
    padding: 20px;
    background-color: #3A5BA0;
} 

#navbar {
    background-color: #3A5BA0;
    width: 30%;
}

nav header {
    font-size: 25px;
    border: 0.5px solid #1F4690;
    padding: 25px;
    text-align: center;
    background-color: #FFA500;
    color: #1F4690;
    
}

a {
    text-decoration: none;
    text-align: center;
}

header {
    font-size: 25px;
    color: #1F4690;
}

#content {
    padding: 20px;
    font-size: 18px;
    width: 70%;
    text-align: justify;
   /* list-style-type: none; */
}


li {
    padding: 10px 0;
}

.line {
    width: 100%;
   /* height: 20px; */
    border-bottom: 2px solid #FFA500;
    padding: 30px 0 0 0;
    }


#blocks {
    padding: 20px 0;
}

code {
  font-family: Consolas,"courier new";
  background-color: #f1f1f1;
  padding: 10px 0 10px 5px;
  font-size: 15px;
  display: inline-block;
  border-radius: 5px;
  font-style: italic;
  width: 100%;
  margin: 16px 0;
}

.code-block {
    display: block;
    white-space: pre-wrap;
    
}

@media only screen and (max-width: 768px) {
    #navbar {
        width: 100px;
        z-index: 1;

    }

    .nav-text {
        display: none;
    }

    nav header {
        display: none;
    }

    .nav-JS {
        color: #3A5BA0;
        text-align: center;
        font-weight: bolder;
        font-size: xx-large;
        width: 100%;
        background-color: #FFA500;
        padding: 21px 0;
    }


    .icons {
        fill: #FFA500;
        width: 30px;
    }
   
    .icon-intro {
        width: 25px;
    }
}

@media only screen and (min-width: 768px) {
    .nav-icons {
        display: none;
    }

    .nav-JS {
        display: none;
    }
}
 



